body
{
    background: linear-gradient(rgb(231, 230, 222) 0%, rgb(15, 41, 129) 100%);
    color: azure;
}
.heading
{
    font-size: 25px ;
    width: 80%;
}
.name_of_objects
{
    color : rgb(224, 18, 118);
    font-size: 18px;
}
#h
{
    width: 75%;
    background-color: rgba(240, 128, 128, 0.559);
}
#camera
{
    border: 1px dashed rgb(3, 3, 39);
    height: 340px;
    width: 360px;
}
#result_object_name
{
    color: whitesmoke;
}
#result_object_accuracy
{
    color: aquamarine;
}